@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

.tamanho-botao {
  padding: 5px;
  font-size: 13px;
}

.botao-alterar {
  background: #374797;
  color: white;
}

.botao-alterar:hover {
  background: #1f2858;
  color: white;
}

.botao-excluir {
  background: #a02020;
  color: white;
}

.botao-excluir:hover {
  background: #741717;
  color: white;
}

.botao-cancelar {
  background: #d3a307;
  color: white;
}

.botao-cancelar:hover {
  background: #634c04;
  color: white;
}

.botao-reativar {
  background: #0d6efd;
  color: white;
}

.botao-reativar:hover {
  background: #0a58ca;
  color: white;
}

body {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #010409, #010409); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}